@use 'styles/colors.module.scss' as *;

.topbar {
  height: 62px;

  margin: 0 0 32px;

  background: $green1;
}

.container {
  display: flex;
  flex-direction: column;

  justify-items: center;

  background: $white;

  .title {
    color: $grey2;
    font-size: 1.6rem;
    line-height: 2rem;

    margin: 0 auto 32px;
    letter-spacing: 0;
  }

  .input {
    width: 80%;

    font-size: 1.2rem;
    line-height: 1.6rem;

    margin: 0 auto;

    padding: 4px 19px;
    border: 0;

    box-shadow: 0 2px 4px $grey1;
    outline: none;

    border-radius: 40px;

    &::placeholder {
      color: $grey2;
      text-align: start;
      font-size: 1.2rem;
      line-height: 1.7rem;
    }
  }

  .cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;

    margin: 24px 0;

    padding: 0 24px;
  }
}
