@use 'styles/colors.module.scss' as *;

.container {
  display: flex;

  flex-direction: row;

  background-color: $white;
  box-shadow: 0 2px 4px $grey1;
  border-radius: 4px;

  cursor: pointer;

  .info {
    color: $grey2;
    text-align: left;

    margin-left: 15px;

    padding: 32px 0;

    .name {
      font-size: 1.2rem;
      line-height: 1.6rem;

      margin: 0 auto;
    }

    .address {
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}
